




*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

/*input*/

.titleContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;

}

.titleLeft{
  width: 80%;
 height: max-content;
align-items: center;
  display: flex;
  flex-direction: column;
}

.titleRight{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
 
}

.pokeText{
  width: 90%;
  margin-bottom: 2rem;
  max-width: 30rem;

}

.titleTex{
  margin-top: 4rem ;
margin-bottom: 3rem;
  font-size: 16px;
  width: 90%;
  
}

.inputForm{
  width: 90%;
}

.titleTrainer{

  height: 18rem

}
.inputForm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.titleInput{
  height: 2.5rem;
  border-radius: 1rem;
  width: 100%;
  border-style: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.648);
  text-align: center;
  min-width: 14rem;
}

.buttonTitle{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  position: absolute;
  left: 170px;
  bottom: 170px;

}

button > img{
  height: 3.5rem;
  width: 3.5rem;
}


.containerInput{
  position: relative;
}


/*pokedex*/

.titlePokedex > img{
  margin-bottom: 2rem;
  width: 20rem;
  position: relative;
  top: -5rem;
}

/*swich*/
.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}
.switchBtn input {display:none;}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-right: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  justify-content: center;
  border-radius: 34px;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;  
  border-radius: 50%;
 
  
  
  
}
.inputToggle:checked + .slide {
  background-color: #fcff4f;
  padding: 5px;
  padding-left: 40px;
  text-align: center;
  color: black;
  padding-right: 0;
  box-shadow: 0px 0px 8px yellow;
  
}
.inputToggle:focus + .slide {
  box-shadow: 0 0 1px #ed0101;
}
.inputToggle:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}

/*list pokemons*/

.containerPokedex{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 4rem ;
  width: 100%;
  height:100%;
}

.containerTitle{
  text-align: left;
}

.subtitle{
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.containerSwitch{
  text-align: right;
}

.pokedexInput{
  margin-top:3rem ;
  width: 100%;
 display: flex;
 justify-content: center;
 height: 2rem;
 
}

.listType{
  width: 18rem;
  text-align: center;
  margin-top:3rem ;
  height: 2rem;
  border-style: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;

}




.pokedexInput > input{
  width: 50%;
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  outline: 0;
}

.pokedexInput > button{
  background-color: transparent;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

button > img {
position: absolute;
}

.off{
  display: none;
}

.containerFormPokedex{
  width: 100%;
}

.containerList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6rem;
  gap: 0.8rem;
}

.containerPokemon{
  background-color: rgb(218, 6, 6);
  border-radius: 1rem;
  width: 16rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.containerPokemon:hover{
  box-shadow: rgba(0, 0, 1, 0.582) 0px 0px 8px 2px;
  transform: scale(1.1);
  transition: all 300ms ease;
}


.contentImg > img{
  height: 7rem; 
  padding: 0.5rem;
  margin-top: 1rem;
 
 
}

.containerList > li{
  list-style: none;
}
.containerAttributes > p{
  font-size: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.457);
  height: 1.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.containerAttributes{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 0.3rem ;
  justify-items: center;
  align-content: center;
  color: black;
 
}


/* pkemon details*/

.containerPokemonDetails{
  background-color: rgb(161, 161, 161);
padding: 3rem;
 
}

.container{
  display: flex;

  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(161, 161, 161);
  padding: 4rem;
  gap: 1rem;
  height: max-content;
  
}

.containerDetails{
  text-align: center;

  width: 80vw;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.containerLogo{
  text-align: left;
}

.titleLogo  {
  width: 30%;
}

.containerImg{
  text-align: center;
  background-color: #fff;
  width: 100%;
  height:30rem ;
  position: relative;
  max-height: 19rem;
  border-radius: 0.3rem;
  position: relative;
}
.containerImg > img{
  width: 18rem;
  position: absolute;
  bottom: 150px;
  left: calc(50vw - 30rem);
  bottom: 120px;
  

}

.information{
 display: flex;
 align-items: flex-end;
 justify-content: space-around;
 height: 60%; 
 
}
.nameDEtails{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}


.nameDEtails > div{
  height: 2rem;
  background-color: #fff;
  width: 38%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(201, 199, 199);
  margin-right: 0.5rem;
  margin-left: 0.5rem;

}
.containerId{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
 
}

#idPokemon{

  border-style: solid;
  border-width: 0.5px;
  border-radius: 0.5rem;
  width: min-content;
  padding: 0.2rem;
  border-color: rgb(128, 126, 126);
}

.movements{
  width: 40%;
  background-color: #fff;
  height: max-content;
  list-style: none;
  border-radius: 0.4rem;

}

.movements > div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.liMovements{
  
  border-bottom-style: solid;
  border-width: 1px;
  width: 65%;
  padding: 0.5rem;
  border-color: rgb(169, 168, 168);

}

.typeAbilities{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
  height: 30%;
}

.type{
  width: 50% ; 
  background-color: #fff;
  height: 100%;
  border-radius: 0.3rem;
  
}

.abilities{
  width: 50% ;
  height: 100%;
  background-color: #fff;
  border-radius: 0.3rem;

}

.titleType   div{
  width: 80%;
  height: 50%;
}

.titleType{
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.topDiv{
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;


}

.containerTopDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.containertypeabilities{
  border-radius: 0.8rem;
  box-shadow: 0px 0px 6px;
  height: 1.4rem;
  width: 60%;
  margin-bottom: 0.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.containerType{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerAbilities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerStatsBase{
  margin-top: 0.5rem  ;
  height: 40%;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}

.containerStats{
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;

}

.containerStats > div{
  width: 25%;
  height: 1px;
  border-bottom-style: solid;
  border-width: 1px;
}

.titleStats{
  margin: 0;
  margin: 0 0.4rem;
}

.containerBarrs{
  display: flex;
  flex-direction: column;

height: 12rem;
padding: 0 1rem;
width: 80%;
}

.buttonBarrs{
  display:flex;
 
  width: 100%;
  justify-content: center;
}
.containerButtonsBarrs{
  height:100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containerButtonsBarrs > div{
    width: 70%;
    height: 1rem;
    background-color: #ccc;
    margin-bottom: 0.5rem;
    font-size: 10px;
    padding: 0.1rem;
    
}

.containerButton > .pages{
  width: 2rem;
  margin-right: 0.1rem;
  margin-bottom: 0.3rem;
  border-style: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 6px;
}

.nextPrev{
  width: 4rem;
  border-style: none;
  box-shadow: 0 0 6px;
  margin: 0.3rem 0.2rem;
  border-radius: 0.3rem;


}

.buttonPagePrev{
  height: 4em;
  width: 4rem;
  padding: 1rem;
  font-size: 15px ;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0 0 6px;
  position: absolute;
  right: 200px;
  top: 80px;
}


@media screen and (max-width: 480px){
  .containerPokemon > h2{
    font-size: 15px;
  }
      .titlePokedex > img{
        width: 15rem;
      }
     .containerPokedex{
      padding: 1rem;
    } 

    .containerPokedex > img{
      display: none;
    }

    .titlePokedex{
      margin-top: 4rem;
    }

    .pages{
      display: none;
    }

    .nextPrev{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .containerList{
      grid-template-columns: 1fr 1fr;
    }
    .containerPokemon{
      width: 9rem;
      height: 14rem;
    }
    .contentImg>img{
      width: 5rem;
      margin-top: 0;
    }

    .containerPokemon > h2{
      margin-bottom: 0;
    }
    .containerAttributes{
      margin-top: 0;
      gap: 0.2rem;
    }
    .containerAttributes > p{
      margin-bottom: 0rem;
      width: 3.7rem;
    }
    .pokedexInput > input{
      width: 80%;
    }

    .containerImg > img{
      width: 8rem;
      left: 45px;
      top: 0px;
      
    }
    .container{
      padding: 0;
    }
    .containerPokemonDetails{
      padding: 0.5rem;
    }

    .information > h4{
      font-size: 10px;
    }
    .nameDEtails > h1{
      font-size: 20px;
    }
    #idPokemon{
      font-size: 12px;
    }

    .titleType > h3{
      font-size: 10px;
    }
    .containertypeabilities > li{
      font-size: 10px;
    }
    .liMovements{
      font-size: 9px;
    }
    .containerButtonsBarrs > div{
      font-size: 6px;
    }
    .titleStats{
      font-size: 15px;
    }
  }

  
@media screen and (min-width: 480px) and (max-width: 670px) {
  .containerPokemon > h2{
    font-size: 15px;
  }
  .titlePokedex > img{
    width: 15rem;
  }
 .containerPokedex{
  padding: 1rem;
} 

.containerPokedex > img{
  width: 28rem;
}

.titlePokedex{
  margin-top: 4rem;
}

.pages{
  display: none;
}

.nextPrev{
    margin-right: 1rem;
    margin-left: 1rem;
}

.containerList{
  grid-template-columns: 1fr 1fr 1fr;
}
.containerPokemon{
  width: 9rem;
  height: 14rem;
}
.contentImg>img{
  width: 5rem;
  margin-top: 0;
}

.containerPokemon > h2{
  margin-bottom: 0;
}
.containerAttributes{
  margin-top: 0;
  gap: 0.2rem;
}
.containerAttributes > p{
  margin-bottom: 0rem;
  width: 3.7rem;
}
.pokedexInput > input{
  width: 80%;
}
}

@media screen and (min-width: 670px) and (max-width: 795px){
  .titlePokedex > img{
    width: 15rem;
  }
 .containerPokedex{
  padding: 1rem;
} 

.containerPokedex > img{
  width: 28rem;
}

.titlePokedex{
  margin-top: 4rem;
}

.pages{
  display: none;
}

.nextPrev{
    margin-right: 1rem;
    margin-left: 1rem;
}

.containerList{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.containerPokemon{
  width: 9rem;
  height: 14rem;
}
.containerPokemon > h2{
  font-size: 15px;

}
.contentImg>img{
  width: 5rem;
  margin-top: 0;
}

.containerPokemon > h2{
  margin-bottom: 0;
}
.containerAttributes{
  margin-top: 0;
  gap: 0.2rem;
}
.containerAttributes > p{
  margin-bottom: 0rem;
  width: 3.7rem;
}
.pokedexInput > input{
  width: 80%;
}
}

@media screen and (min-width: 795px) and (max-width: 1140px){
  .titlePokedex > img{
    width: 15rem;
  }
 .containerPokedex{
  padding: 1rem;
 }

.containerPokedex > img{
  width: 40rem;
}

.titlePokedex{
  margin-top: 4rem;
}

.pages{
  display: none;
}

.nextPrev{
    margin-right: 1rem;
    margin-left: 1rem;
}

.containerList{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.containerPokemon{
  width: 11rem;
  height: 14rem;
}
.containerPokemon > h2{
  font-size: 15px;

}
.contentImg>img{
  width: 5rem;
  margin-top: 0;
}

.containerPokemon > h2{
  margin-bottom: 0;
}
.containerAttributes{
  margin-top: 0;
  gap: 0.2rem;
}
.containerAttributes > p{
  margin-bottom: 0rem;
  width: 3.7rem;
}
.pokedexInput > input{
  width: 80%;
}
}

}